body{
    margin-left: 40px;
}
h1 {
    color: brown;
}

.post {
    background-color: lightgrey;
}

.user {
    font-style: italic;
}

.posts {
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}