<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a home Page</h1>
    <h2><%= 2+3 %></h2>
    <h2><%= "apnacollage".toUpperCase() %></h2>
    <h2><%= ["hello","welcome","goodbye"][1] %></h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nulla rem dicta dolore pariatur veritatis laudantium suscipit eaque ipsam beatae error, architecto at voluptatum? Ea eaque quia aspernatur rem veniam, enim magni animi?</p>
    <button>Click Me</button>
</body>
</html>