.chatbox {
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 20px;
    padding: 2px 20px;
    display: inline-block;
}

.msg {
    background-color: dodgerblue;
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 16px;
    color: white;
    line-height: 0.6px;
}


.date {
    text-align: right;
    opacity: 0.6;
}

p {
    line-height: 0.4;
}

.btn {
    background-color: cyan;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid salmon;
}

.inline {
    display: flex;
    gap: 10px; /* Adjusts the space between the buttons */
    align-items: center; /* Ensures buttons align vertically */
}
