<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you?"> <br><br>
        <textarea name="msg">Write your message here...</textarea> <br><br>
        <input type="text" name="to" placeholder="Message received to"> <br><br>
        <button class="btn">Create chat</button>
    </form>
</body>
</html>