<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Edit your username for this user : Email = <%= result[0].email %></h2>
    <div>
        <form method="post" action="/user/<%=result[0].id%>?_method=PATCH">
            <textarea name="username"><%= result[0].username %> </textarea>
            <input type="password" name="password">
            <button>Edit</button>
        </form>

    </div>
</body>

</html>